.col{
float: left;
margin: 1%;
width: 30%;
font-size: 5em;
font-weight: bold;
}

.col2{
float: left;
margin: 1%;
width: 46%;
font-size: 5em;
font-weight: bold;
}

div.container > div:last-child {
margin-bottom: 0;
}


body {
margin: 0;
padding: 0;
}
.container {
max-width: 1000px;
margin: auto;
}
.row {
float: center;
width: 100%;
}

.color-red {
min-height: 150px;
background: red;
}
.color-blue {
min-height: 150px;
background: blue;
}
.color-green {
min-height: 150px;
background: green;
}
.color-yellow {
min-height: 150px;
background: yellow;
}
